
nav.navbar{
  	border-radius: 0;
  	background-color: #102639;
  	border: 0px solid white;
	padding: 20px 0;
	margin:0; 
}
.navbar-brand{
	/*border:1px solid red;*/
	margin:0;
	padding: 0;
}
ul.menu li a{
	color:white !important;
	width: 100%;
	/*background: yellow;*/
}
ul.menu li a:hover{
	color:#67ADE8  !important;
	/*background-color:#67ADE8  !important;*/
}

ul.menu li ul a{
	color:white !important;
}
/* ---------- Items option ------ */ 
.opt-list{
	margin-top: 20px;
	position: relative;
	
}
.option{
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 30px;
	text-align: center;
	
}


/* ---------- Items option ------ */ 


/* ---------- Noticias  ------ */ 
.noticias{
	text-align: center;
	margin-bottom: 10px;
}
.more-small{
	font-size: 16px;
}
.btn-noticias{
	background-color: #7C0E2D;
	border:1px solid #7C0E2D;
}
.btn-noticias:hover{
	background-color: #102639;
	color: white;
}
/* ---------- Fin Noticias ------ */ 


/* -----------Agenda -------------*/
.bk-agenda{
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-image: url("../img/bk-agenda.png") ; 
	background-position: center;
	background-size: cover;
	padding: 15px 0;
	
}
.color-text, a.color-text:hover{
	color: white;
}
.bk-footer{
	background-color: #1A384B;

}
.footer-list , .footer-list--inline{
	list-style: none;
	/*border: 1px solid red;*/
	padding: 0;


}
.footer-list a{
	color:white;
}
.footer-list--inline{
	margin: 0 20px;
}
.footer-list--inline li{
	display: inline-block;
	margin: 0 10px;	
}

/* ---------- 	FIN Agenda -------------*/
/*  ---------- Utilitariios---------- */
.maxWidth{
	width: 100%;
}
/*  ---------- FIN Utilitariios---------- */
/* -------- Overrides Grilla --------- */ 

.navbar-collapse{
	border: 0;
	margin-top: 10px;

}
.row{
	padding: 0;
	margin:0;
}
.col-pad{
	padding: 0 ;
}
.sp-age{
	font-size: 46px;font-weight: bold;
}
.sp-fec{
	font-size: 22px;font-weight: bold;
}
.name-agenda{
	padding-left: 5px;
	border-left:3px solid white;
	height:90px
}
h1{
	padding: 0 ;
	margin:0;
}


/* -------- FIn override Grilla -------- */


/* Overides de media querys  tomará el style hasta que llegue a ese minimo */
@media only screen and (min-width : 480px) {
  body{
    /*background-color: red;*/
  }
  .option{
  	margin-bottom: 30px;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   body{
   /* background-color: yellow;*/
  }
  .opt-list{
  	margin-top: 20px;
  }
 .option{
	
	margin:30px 10px 10px 10px;
	width:150px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   body{
    /*background-color: blue;*/
  }
	.option{
	
	margin:30px 10px 10px 10px;
	width: 200px;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
   body{
   /* background-color: peru;*/
  }
	 nav.navbar{
	  	border-radius: 0;
	  	background-color: #102639;
	  	border: 0px solid white;
		padding: 20px 0;
		margin:0; 
	}
	.navbar-brand{
		/*border:1px solid red;*/
		margin:0;
		padding: 0;
	}
	ul.menu li a{
		color:white !important;
		width: 100%;
		/*background: yellow;*/
	}
	ul.menu li a:hover{
		color:#67ADE8  !important;
		/*background-color:#67ADE8  !important;*/
	}

	ul.menu li ul a{
		color:white !important;
	}
	.opt-list{
		background-color:;
		/*border:1px solid red;*/
		margin-top: -70px;
		position: relative;

	}	
	.option{
	text-align: center;
	padding: 40px 0;
	background-color: white;
	margin:0 30px;
	width: 225px;

}
	/* Seteando grilla*/ 
	.navbar-collapse{
		border: 0;
		margin-top: 0px;
	}
	/* Fin seteo Grilla */
}