/* OVERRIDE FROM Boostrap library */
nav.my-menu{
  	border-radius: 0;
  	background-color: #102639;
  	border: 0px solid white;
	padding: 20px 0;
	margin:0; 
}
.navbar-brand{
	/*border:1px solid red;*/
	margin:0;
	padding: 0;
}
ul.menu li a{
	color:white !important;
	width: 100%;
	/*background: yellow;*/
}
ul.menu li a:hover{
	color:#67ADE8  !important;
	/*background-color:#67ADE8  !important;*/
}

ul.menu li ul a{
	color:white !important;
}
/* FIN OVERRIDE FROM Boostrap library */

/* ---------- Items option ------ */ 
.opt-list{
	margin-top: 20px;
	position: relative;
	
}
.option{
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 30px;
	text-align: center;
	
}


/* ---------- Items option ------ */ 

				/*------- Item: Facultadad sub Menu ----------*/

/* ----sub Menu-------*/
.submenu{
	background-color: #fff;
	margin:0;
}
.contentCenter{
	/*border:1px solid red;*/
	width: 100%;
	margin:0 auto;

}
.submenu ul li a{
	color:#102639 !important;
	font-weight: bold;
}
.submenu ul li a:hover{
	color:#7C0E2D !important;
}

.bk-deca{
	background-color: #daecfa;
	padding: 30px 0;
}
/*-------Fin sub menu  ----- */





/* ---------- Noticias  ------ */ 
.noticias{
	text-align: center;
	margin-bottom: 10px;
}
.more-small{
	font-size: 16px;
}
.btn-noticias{
	background-color: #7C0E2D;
	border:1px solid #7C0E2D;
}
.btn-noticias:hover{
	background-color: #102639;
	color: white;
}
/* ---------- Fin Noticias ------ */ 


/* -----------Agenda -------------*/
.bk-agenda{
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-image: url("../img/bk-agenda.png") ; 
	background-position: center;
	background-size: cover;
	padding: 15px 0;
	
}
.color-text, a.color-text:hover{
	color: white;
}
.bk-footer{
	background-color: #1A384B;

}
.footer-list , .footer-list--inline{
	list-style: none;
	/*border: 1px solid red;*/
	padding: 0;


}
.footer-list a{
	color:white;
}
.footer-list--inline{
	margin: 0 20px;
}
.footer-list--inline li{
	display: inline-block;
	margin: 0 10px;	
}

/* ---------- 	FIN Agenda -------------*/
/* --------- Facultad ----------------*/
.col-dir-a{
	background-color:#DAECFA;
	padding: 0;
}
.col-dir-b{
	padding: 0;
}

h4.h4-dir{
	margin:0;
	text-align:center;
	line-height: 100px; 
	height:100px;
	width:90%;
	display: inline-block;
	vertical-align: middle; 
	/*border:1px solid red;*/
	color:#1B374C;
}
.h4-a{
	/*border:1px solid red;*/
	line-height: 100px;
	width: 10%;
	text-align: center;
}


/*  ---------- Utilitariios---------- */
.maxWidth{
	width: 100%;
}
/*  ---------- FIN Utilitariios---------- */
/* -------- Override Grilla --------- */ 

.navbar-collapse{
	border: 0;
	margin-top: 10px;

}
.row{
	padding: 0;
	margin:0;
}
.col-pad{
	padding: 0 ;
}
.sp-age{
	font-size: 46px;font-weight: bold;
}
.sp-fec{
	font-size: 22px;font-weight: bold;
}
.name-agenda{
	padding-left: 5px;
	border-left:3px solid white;
	height:90px
}
h1{
	padding: 0 ;
	margin:0;
}

/* -------- Fin Override Grilla --------- */  

h2.title{
	color:white;
}







/* -------- FIn override Grilla -------- */

/* Overides de media querys  tomará el style hasta que llegue a ese minimo */
@media only screen and (min-width : 480px) {
  body{
    /*background-color: red;*/
  }
  .option{
  	margin-bottom: 30px;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   body{
   /* background-color: yellow;*/
  }
  .opt-list{
  	margin-top: 20px;
  }
 .option{
	
	margin:30px 10px 10px 10px;
	width:150px;
}
	.contentCenter{
	/*border:1px solid red;*/
	width: 800px;
	margin:0 auto;

}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   body{
    /*background-color: blue;*/
  }
	.option{
	
	margin:30px 10px 10px 10px;
	width: 200px;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
   body{
   /* background-color: peru;*/
  }
	 nav.my-menu{
	  	border-radius: 0;
	  	background-color: #102639;
	  	border: 0px solid white;
		padding: 20px 0;
		margin:0; 
	}
	.navbar-brand{
		/*border:1px solid red;*/
		margin:0;
		padding: 0;
	}
	ul.menu li a{
		color:white !important;
		width: 100%;
		/*background: yellow;*/
	}
	ul.menu li a:hover{
		color:#67ADE8  !important;
		/*background-color:#67ADE8  !important;*/
	}

	ul.menu li ul a{
		color:white !important;
	}
	.opt-list{
		background-color:;
		/*border:1px solid red;*/
		margin-top: -70px;
		position: relative;

	}	
	.option{
	text-align: center;
	padding: 40px 0;
	background-color: white;
	margin:0 30px;
	width: 225px;

}
	/* Seteando grilla*/ 
	.navbar-collapse{
		border: 0;
		margin-top: 0px;
	}
	/* Fin seteo Grilla */
}